body {
    margin: 20px;
    font-size: 1em;
}

.header {
    display: flex;
    /* border-bottom: 1px solid grey; */
}

.header > .idiomas {
    display: flex;
    width: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

.header > .idiomas > p {
    font-size: 1.1em;
    font-weight: 600;
    margin: 10px;
}

.inputs {
    margin: 20px 0;
}

.tabla {
    font-size: 0.9em;
}

#import-button {
    margin: 0 5px 5px 5px;
}

.label-import {
    font-size: 1.2em;
    font-weight: 600;
}

#label-error-formato {
    text-align: center;
    padding: 10px;
}

.label-error {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 40%;
}


#fileInput {
    width: 350px;
}

.tabulator-header {
    background-color: #0d6efd !important;
    padding-bottom: 1px;
}

.tabulator-row-even {
    background-color: #efefef !important;
}


/* .tabulator-row-odd {
    
} */