body {
    margin: 20px;
    font-size: 1em;
}

.inputs {
    margin: 20px 0;
}

.tabla {
    font-size: 0.9em;
}

#importButton {
    margin: 0 5px 5px 5px;
}

.label-import {
    font-size: 1.2em;
    font-weight: 600;
}

#label-error-formato {
    text-align: center;
    padding: 10px;
}

.label-error {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 40%;
}


#fileInput {
    width: 350px;
}